@model IEnumerable<LoginTask.Models.TblUser>

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

<a href="@Url.Action("SignUp","User")" class="btn btn-primary mt-3">Add User</a>

@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    <div>
        <span>UserName:</span> @Html.TextBox("UserName")
        <input type="submit" value="Search" />
    </div>
<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserAddress)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.UserPassword)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RePassword)
            </th>
            <th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddress)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.UserPassword)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RePassword)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>*@
        </tr>
    }

</table>
}
