@model LoginTask.Models.TblUser

@{
    ViewBag.Title = "SignUp";
}

<h2>Create User</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group text-center">
        <div class="col-md-offset-2 col-md-10">
            <h4 class="text-danger">@ViewBag.Notification</h4>
        </div>
    </div>

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <table class="table">
        <tr>
            <td><span class="text-danger">*</span><b>@Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
            <td>
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </td>
        </tr>

        <tr>
            <td><span class="text-danger">*</span><b>@Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
            <td>
                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><span class="text-danger">*</span><b>@Html.LabelFor(model => model.UserPhone, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
            <td>
                @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><span class="text-danger">*</span><b>@Html.LabelFor(model => model.UserAddress, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
            <td>
                @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><span class="text-danger">*</span><b>@Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
            <td>
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr>
            <td><span class="text-danger">*</span><b>@Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })</b></td>
            <td>
                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
            </td>
        </tr>
        <tr class="p-2">
            <td></td>
            <td >
                <input type="submit" value="Create" class="btn btn-success text-cente" />
            </td>
        </tr>
    </table>


        @*<div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.UserEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserEmail, "", new { @class = "text-danger" })
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.UserPhone, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserAddress, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserPassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
            </div>
        </div>*@

       @* <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success text-cente" />
            </div>
        </div>*@
   
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
